version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
      - "5555:5555"
    env_file:
      - ./backend/.env

  hoyoapi:
    build: ./backend/python/hoyo
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: